{% extends "layout.html" %}
{% block content %}
This site allows you to paste the chat log from your X-Wing Vassal games in order to get some statistics about how 'lucky' you were.
<p></p>
It originally began <a url="https://teamcovenant.com/pheaver/2013/10/22/vassal-die-roll-counter/">as an idea of current X-Wing world champion Paul Heaver</a> - a command line application that, when fed the cut-and-paste contents of a Vassal X-Wing game, would spit out some basic counts: total dice rolled, number of hits, number of crits, etc.  I took Paul's basic idea and implemented it as a web site.  You can <a href="https://github.com/lhayhurst/ladyluck">find/fork/contribute to this site on github</a> if you'd like to help out with its continuing development.
<p></p>
If you want to read more about the app, head over to <a href="http://teamcovenant.com/sozin/2014/03/10/lady-luck-a-web-based-vassal-x-wing-stats-calculator/">The Team Covenant site</a>, where I'm managing communication for the app.
{% endblock %}