{% extends "layout.html" %}
{% block content %}

<b> {{ player1 }} versus {{ player2 }}, won by {{ winner }} ( {{ game.game_played_time }} )</b>

<p></p>
<a href="/download-game?id={{ game.id }}">Download game as csv</a>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-ii5f{background-color:#000000;color:#ffffff}
</style>
<table class="tg">
  <tr>
    <th class="tg-ii5f">Player</th>
    <th class="tg-ii5f">Attack Set Number</th>
    <th class="tg-ii5f">Dice Number</th>
    <th class="tg-ii5f">Roll Type&nbsp;</th>
    <th class="tg-ii5f">Dice Color</th>
    <th class="tg-ii5f">Dice Result</th>
  </tr>
  {%    for roll in tape %}
  <tr>
    <td class="tg-031e">{{  roll[1] }} </td>
    <td class="tg-031e">{{  roll[3] }} </td>
    <td class="tg-031e">{{ roll[4] }}</td>
    <td class="tg-031e">{{ roll[5] }} </td>
    <td class="tg-031e">{{ roll[6] }}</td>
    <td class="tg-031e">{{ roll[7] }}</td>
  </tr>
{%  endfor %}
</table>
{% endblock %}