{% extends "layout.html" %}
{% block content %}

<b> {{ game.game_played_time }}: {{ player1 }} versus {{ player2 }}, won by {{ winner }} </b>


<h3>Game Tape</h3>
<p></p>
<a href="/download-game?id={{ game.id }}">Download game as csv</a>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-ii5f{background-color:#000000;color:#ffffff}
.tg .tg-1bl1{background-color:#bdc3c7}
.tg .tg-nkg8{background-color:#F0F6FA;color:#000000}
.tg .tg-rh4c{background-color:#F0F6FA}
.tg .tg-o1{background-color:#F8F8F8}
.tg .tg-o2{background-color:#D0D0D0}
.tg .tg-o3{background-color:#A8A8A8}
.tg .tg-o4{background-color:#808080}
.tg .tg-o5{background-color:#585858}
.tg .tg-o6{background-color:#303030}


</style>

{#
<table class="tg" style="position: fixed; margin-left: -140px; background-color: #fff; top: 97px">


    {%  for attack_set in game_tape.attack_sets %}
    <tr>
       <td>
            <a href="#attack_set{{loop.index}}"><canvas id="circlecanvas{{loop.index }}_1" width="40" height="40"></canvas></a>
                <script>
                      var canvas = document.getElementById("circlecanvas{{loop.index }}_1");
                      var context = canvas.getContext("2d");
                      context.strokeStyle="red"
                      context.fillStyle="red"
                      context.arc(20, 20, Math.abs({{attack_set.total_attack_end_luck() }}) * (40/3.5), 0, Math.PI * 2, false);
                      {%  if attack_set.total_attack_end_luck() < 0  %}
                          context.stroke()
                      {% else %}
                          context.fill()
                      {%  endif %}
                </script>
            <span style="position: relative; top: -14px">3</span>
            <a href="#attack_set{{loop.index}}"><canvas id="circlecanvas{{loop.index }}_2" width="40" height="40"></canvas></a>
                <script>
                      var canvas = document.getElementById("circlecanvas{{loop.index }}_2");
                      var context = canvas.getContext("2d");
                      context.strokeStyle="green"
                      context.fillStyle="green"
                      context.arc(20, 20, Math.abs({{attack_set.total_defense_end_luck() }}) * (40/3.5), 0, Math.PI * 2, false);
                      {%  if attack_set.total_defense_end_luck() < 0  %}
                          context.stroke()
                      {% else %}
                          context.fill()
                      {%  endif %}
                </script>
       </td>
   </tr>
   {%  endfor %}
</table>
#}


{% for attack_set in game_tape.attack_sets %}
<br>

    <a name="attack_set{{ loop.index }}"><b> {{  attack_set.number }}</b></a>

    <table class="tg">
        <tr>
        <th class="tg-031e" colspan="5">Attacker: {{ attack_set.attacking_player }}</th>
        <th class="tg-nkg8" rowspan="2"><br>Final<br>Result</th>
        <th class="tg-031e" colspan="5">Defender: {{ attack_set.defending_player }}</th>
      </tr>
      <tr>
        <td class="tg-nkg8">dice num</td>
        <td class="tg-nkg8">roll</td>
        <td class="tg-nkg8">reroll</td>
        <td class="tg-nkg8">convert</td>
        <td class="tg-nkg8">end</td>
        <td class="tg-nkg8">end</td>
        <td class="tg-nkg8">convert</td>
        <td class="tg-nkg8">reroll</td>
        <td class="tg-nkg8">roll</td>
        <td class="tg-nkg8">dice_num</td>

      </tr>
    {% for rec in attack_set.records  %}
        <td class="tg-o1">{{ rec.dice_num }}</td>
        <td class="tg-o2"><img src={{ rec.attack_roll_as_img()  }}></td>
        <td class="tg-o3"><img src={{ rec.attack_reroll_as_img() }}></td>
        <td class="tg-o4"><img src={{ rec.attack_convert_as_img() }}></td>
        <td class="tg-o5"><img src={{ rec.attack_end_as_img() }}></td>
        <td class="tg-o6"><img src={{ rec.final_as_image() }}></td>
        <td class="tg-o5"><img src={{ rec.defense_end_as_img() }}></td>
        <td class="tg-o4"><img src={{ rec.defense_convert_as_img() }}></td>
        <td class="tg-o3"><img src={{ rec.defense_reroll_as_img() }}></td>
        <td class="tg-o2"><img src={{ rec.defense_roll_as_img() }}></td>
        <td class="tg-o1">{{ rec.dice_num }}</td>
      </tr>
    {% endfor %}
    <tr>
        <td class="tg-nkg8" border="0" >score</td>
        <td class="tg-nkg8" border="0" ></td>
        <td class="tg-nkg8" border="0" ></td>
        <td class="tg-nkg8" border="0" ></td>
        <td class="tg-nkg8" border="0" >{{ attack_set.total_attack_end_luck() }}</td>
        <td class="tg-nkg8" border="0" ></td>
        <td class="tg-nkg8" border="0" >{{ attack_set.total_defense_end_luck() }}</td>
        <td class="tg-nkg8" border="0" ></td>
        <td class="tg-nkg8" border="0" ></td>
        <td class="tg-nkg8" border="0" ></td>

    </tr>
    </table>
  {%  endfor %}

{% endblock %}
