
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<title>Lady luck</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
		<link rel="stylesheet" href="static/style.css" />
	</head>
    <script type="text/javascript">

      function activateTab(pageId) {
          var tabCtrl = document.getElementById('tabCtrl');
          var pageToActivate = document.getElementById(pageId);
          for (var i = 0; i < tabCtrl.childNodes.length; i++) {
              var node = tabCtrl.childNodes[i];
              if (node.nodeType == 1) { /* Element */
                  node.style.display = (node == pageToActivate) ? 'block' : 'none';
              }
          }
      }

</script>
	<body>
	<div id="conteneur" style="overflow:hidden; width:85%;">
		  <div id="header">Lady luck</div>

		  <div id="haut" >
			<ul class="menuhaut" >
				<li><a href="new">Input a new game</a></li>
				<li><a href="games">Browse games</a></li>
				<li><a href="about">About</a></li>

			</ul>
     </div>
     <div id="centre" >
      {% block content %}{% endblock %}</div>
	</div>
	</body>
</html>

