{% extends "layout.html" %}
{% block content %}

<h1>Do or do not, there is no try</h1>

It looks like your chat log is poorly formed.  This usually happens when you were watching a game, then started a new game, and the two games are both sitting in the same chat log.
<br>
<br>
Here are the players found in your chat log: {{ players }}
<br>
<br>
Please edit your submission below, cutting out the game tape that wasn't part of your game, and resubmit!  The game tape should start just prior to before you or your opponent rolling your first attack die, and end after the last attack or defense die is rolled.

<hr>
 <form action="{{ url_for('add_game') }}" method=post class="add-entry">
    <dl>
        <dt>Which player won the match?</dt>
        <dd><textarea rows="1" cols="100" name="winner">{{ winner }}</textarea></dd>
        <dt>Paste your chat log text here:
        <dd><textarea rows=30 cols=100 name=chatlog>{{ tape }}</textarea>
        <dd><input type=submit value="Generate stats!">
</dl>

 </form>
{% endblock %}